.page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

.header{
    background-color: #e44b6b;
    color: white;
    padding: 16px 32px;
    border: 4px solid #000;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.title{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    flex: 1;
}
.authButton {
  margin-left: 24px;
  padding: 8px 16px;
  border-radius: 20px;
  border: 2px solid #000;
  background-color: #1d1d74;
  font-weight: 600;
  color: white;
  cursor: pointer;
}


.main {
  flex: 1;                         
  margin: 16px 32px;
  background-color: #8604c3;       
  border: 4px solid #000;          
  display: flex;
  align-items: center;
  justify-content: center;         
}


.mainText {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.dashboardHeader {
  background-color: #e44b6b;
  color: white;
  padding: 12px 24px;
  border: 4px solid #000;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboardTitleLeft,
.dashboardTitleCenter {
  font-weight: 600;
}

.dashboardTitleCenter {
  text-align: center;
  flex: 1;
}

.dashboardButton {
  padding: 8px 16px;
  border-radius: 20px;
  border: 2px solid #000;
  background-color: #1d1d74;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.banner {
  margin: 8px 24px 0 24px;
  background-color: #00a9ff;
  border: 4px solid #000;
  display: flex;
  align-items: stretch;
}

.actionBox {
  background-color: white;
  border-right: 4px solid #000;
  padding: 12px;
  min-width: 180px;
  font-weight: 600;
}

.bannerCenter {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.dashboardMain {
  flex: 1;
  margin: 0 24px 24px 24px;
  background-color: #4ed0e8;
  border: 4px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}


.modalBackdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.modal {
  background: white;
  padding: 24px;
  border-radius: 8px;
  min-width: 280px;
  position: relative;
  color: #000000;
}

.modalClose {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}

.modalForm {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  
}

.modalInput {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: rgb(0, 0, 0);
}

.modalButton {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  background-color: #1d1d74;
  color: white;
  font-weight: 600;
  cursor: pointer;
}